/* default */

:root {
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  --font-roboto: "Roboto";
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit",Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%; 
}

/* navbar */

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menu-items {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menu-items a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

/* responsive menu bar */

.menu-btn {
  display: none;
}

@media screen and (max-width: 830px) {
  .menu-btn {
    display: block;
    cursor: pointer;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
  }

  .menu-items.show {
    display: flex;
    z-index: 1;
  }
}

/* hero */

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.hero-title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contact-btn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-img {
  width: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.top-blur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottom-blur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px){
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}

/* about */

.about-container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10px;
  margin-right: 10%;
}

.about-title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;

}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-img {
  width: 35%;
}

.about-item {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.about-items:hover {
  background-size: 100% 100%;
}

.about-item h3 {
  font-size: 25px;
  font-weight: 600;
}

.about-item p {
  font-size: 25px;
}

@media screen and (max-width: 830px){
  .about-container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .about-content {
    flex-direction: column;
  }

  .about-img {
    display: none;
  }

  .about-items {
    margin-top: 29px;
  }

  .about-item {
    padding-left: 0;
    padding-right: 0;
  }
}

/* experience */

.exp-container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.exp-title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.exp-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.exp-skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}


.exp-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.exp-skillimagecontainer {
  /* background-color: var(--color-secondary); */
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 120px;
  height: 120px; */
}

.exp-skillimagecontainer img {
  width: 75px;
}


